<!--index.html-->

{{ template "header.html" .}}

  <h1>Current Videos</h1>

    {{range .videos }}
    <div class="img__wrap">
      <a href="/{{.Path}}"><h2>{{.Title}}</h2>
      <img id={{.ID}} src="data:image/png;base64,{{.Thumbnail.LargeEncoded}}" width="256" height="256" title="{{.Title}}"></img></a>
      <p><b>Category: {{.Category.Name}}</b></p>
    </div>
  {{end}}

{{ template "footer.html" .}}

<script>
  document.getElementById("ItemPreview").src = "data:image/png;base64," + yourByteArrayAsBase64;

</script>

